[submodule "Clients/ios-objective-c/ios-objC-to-do-list-with-express"]
	path = Clients/ios-objective-c/ios-objC-to-do-list-with-express
	url = https://github.com/kersuzananthony/ios-objC-to-do-list-with-express.git
[submodule "Clients/ios-objC-to-do-list-with-express"]
	path = Clients/ios-objC-to-do-list-with-express
	url = https://github.com/kersuzananthony/ios-objC-to-do-list-with-express.git
[submodule "Servers/express-REST/node-express-to-do-list-backend"]
	path = Servers/express-REST/node-express-to-do-list-backend
	url = https://github.com/kersuzananthony/node-express-to-do-list-backend.git
